*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #2b1e15;
}

hr{
  border: 1px solid #FFFDD0
}

.nav{
  background-color: #2b1e15;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
}

.nav a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fffdd0;
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  gap:20px;
}

.left{
  color:#2b1e15;
  font-size: 40px;
  text-transform:capitalize;
  padding-left:20px;
  gap:10px;
}

.right{
  display:flex;
  flex-direction: row;
  font-size: 20px;
  text-transform:capitalize;
  padding-right: 30px;
  gap:10px
}

.div1{
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div2{
  display:flex;
  height:1080px;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
  background-color: #FFFDD0;
}

.au_text{
  display:flex;
  flex-direction:column;
  align-self: center;
  width:50%;
  color:#2b1e15;
  text-transform:capitalize;
  padding-left:20px;
  gap:10px;
}

.au_image{
  display:flex;
  flex-direction:row;
  align-self: center;
  width:50%;
  height:50%;
  color:#2b1e15;
  text-transform:capitalize;
  padding-left:20px;
  gap:10px;
  justify-content: center;
}

.au_image img{
  border-radius: 50%;
  width:65%
}

.div2 h3{
  color:#2b1e15
}

.div2 p{
  color:#2b1e15;
  FONT-SIZE: 40px;
}

.div3{
  display:flex;
  height:90%;
  width:100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
}

.services{
  display:flex;
  width:100%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
  
}

h1{
  color: #FFFDD0;
  text-align: left;
  font-size: 280px;
  text-transform: Capitalize;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 10px;
  line-height: 1em;
  }

h2{
  color: #FFFDD0;
  text-align: left;
  font-size: 100px;
  text-transform: Capitalize;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-left: 100px;
  margin-top: 0.5em;
  margin-bottom: 0px;
  margin-block-end: 100px;
  }

h3{
  color: #FFFDD0;
  text-align: left;
  font-size: 100px;
  text-transform: Capitalize;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin-left: 100px;
  margin-top: 0em;
  margin-bottom: 10px;
}

h4{
  color:#FFFDD0;
  text-align: left;
  font-size: 50px;
  text-transform: Capitalize;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p{
  color:#FFFDD0;
  text-align: left;
  font-size: 30px;
  text-transform: Capitalize;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-left: 100px;
  margin-top: 0.5em;
  margin-bottom: 100px;
  }

.div3 h4{
    color: #FFFDD0;
    text-align: left;
    font-size: 70px;
    text-transform: Capitalize;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-left:80px;
    margin-top: 0em;
    margin-bottom: 10px;
}

.services h4{
    color: #FFFDD0;
    text-align: left;
    font-size: 70px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin-left:80px;
    margin-right: 80px;
    margin-top: 0em;
}

.services p{
    color: #FFFDD0;
    text-align: left;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin-left:80px;
    margin-right: 80px;
    margin-top: 0em;
}

.smm{
  width:50%;
}

.bnd{
  width:50%;
}

.ad{
  width:50%;
}

.webdev{
  width:50%;
}

.div4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FFFDD0;
  height: 150px;
  padding-bottom: 0px;
}
.div4 h5 {
  display: flex;
  flex-direction: column; 
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.div4 p {
  display: flex;
  flex-direction: column; 
  color: #2b1e15;
  text-transform: inherit;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.div4 a {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  color: #2b1e15;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
}
.contact, .socials {
  display: flex; 
  flex-direction: column; 
}
}

}
